<div>USER</div>

<table style="border-collapse: collapse; border-spacing: 0">
  <thead>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        userEmail
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ userEmail }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        userUsername
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ userUsername }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        userId
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ userId }}
      </td>
    </tr>
  </thead>
</table>
<div>RECETTE</div>
<table style="border-collapse: collapse; border-spacing: 0">
  <thead>
    <tr>
        <td
          style="
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
          "
          class="tg-0lax"
        >
          name
        </td>
        <td
          style="
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
          "
          class="tg-0lax"
        >
          {{ name }}
        </td>
      </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        description
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ description }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        image
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ image }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        duration
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ duration }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        tags
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ tags }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        ingredients
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ ingredients }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        utensils
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ utensils }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        notes_from_author
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ notes_from_author }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        category
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ category }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        difficulty
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ difficulty }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        video
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ video }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        instructions
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ instructions }}
      </td>
    </tr>
    <tr>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        textAssociate
      </td>
      <td
        style="
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        "
        class="tg-0lax"
      >
        {{ textAssociate }}
      </td>
    </tr>
    <td
    style="
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    "
    class="tg-0lax"
  >
    expiry
  </td>
  <td
    style="
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    "
    class="tg-0lax"
  >
    {{ expiry }}
  </td>
</tr>

  </thead>
</table>
